# IntelliJ / Android Studio
*.iml
.gradle
/local.properties
/.idea/
.DS_Store

# Build artifacts
/build
/*/build
/captures
.externalNativeBuild
.cxx

# Release artifacts
/app/release/
*.apk
output-metadata.json

# Local configuration
local.properties

# Kotlin specific
.kotlin/
