# IntelliJ / Android Studio
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/studiobot.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/markdown.xml
/.idea/.name
.DS_Store

# Build artifacts
/build
/*/build
/captures
.externalNativeBuild
.cxx

# Release artifacts
/app/release/
*.apk
output-metadata.json

# Local configuration
local.properties
